
.maze-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardSearch {
    display: grid;
    width: 800px;
    height: 800px;
}
.tile {
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid grey;
    outline: none;
}

.wall {
    background-color: black;
}

.visited {
    background-color: #d1cfe2;
}

.path {
    background-color: #7ec4cf;
}

.empty {
    background-color: white;
}

.start {
    background-color: blue;
}
.end {
    background-color: red;
    border: 2px solid black;
}