
.maze-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boardBFS {
    display: grid;
    width: 600px;
    height: 600px;
    margin-top: 5vh;
}
.tileBFS {
    width: 100%;
    height: 100%;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 0px;
    border: 1px solid grey;
    outline: none;
}

.wallBFS {
    background-color: black;
}

.visitedBFS {
    background-color: #d1cfe2;
}

.pathBFS {
    background-color: #7ec4cf;
}

.emptyBFS {
    background-color: white;
}

.startBFS {
    background-color: blue;
}
.endBFS {
    background-color: red;
    border: 2px solid black;
}